{% extends "base.html" %}

{% block head %}
<style>
    .jumbotron label {
        font-size: 17px;
        font-weight: bold;
    }

    .jumbotron button {
        width: 180px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 20px;
        border-radius: 8px;
    }
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        {% if msg  and image_name %}
        <h1 class="display-4">Done!!</h1><br>
        <div class="alert alert-success" role="alert">
            The message was successfully encrypted and encoded in the message. You can download the image below.
        </div>
        {% else %}
        <h1 class="display-4">Fail!!</h1><br>
        <div class="alert alert-danger" role="alert">
            The process could not be completed. Please check the information once again and try.
        </div>
        {% endif %}
        <form>
            <div class="form-group">
                <label for="EncryptedMessage">Entered Message:-</label>
                <input type="text" class="form-control" value="{{msg}}">
            </div>
            <div class="form-group">
                <label for="Key">Encrypted Message:-</label>
                <input type="text" class="form-control" value="{{key}}">
            </div>
        </form>
        <br>
        {% if image_name %}
        <label for="Download image">Download the encoded image:-</label>
        <small id="ImageInfo" class="form-text text-muted">Encoded image is displayed below. The image may be distorted due 
            to the browser dimensions. Original dimensions will be maintained after downloading the image.
        </small><br>
        <img src="{{ url_for('static', filename = 'temp/' + image_name) }}" style="width: 100%;"><br><br>
        <a href="{{ url_for('static', filename = 'temp/' + image_name) }}" download="encoded_img.png">
            <button type="button" class="btn btn-info">Download</button>
        </a>
        {% endif %}
        <br><br>
    </div>
</div>
{% endblock %}
